# Configuración de Base de Datos
DB_URL=jdbc:mysql://localhost:3306/viajes
DB_USERNAME=root
DB_PASSWORD=

# Credenciales de Vipps (API)
VIPPS_CLIENT_ID=your_client_id_here
VIPPS_CLIENT_SECRET=your_client_secret_here
VIPPS_SUBSCRIPTION_KEY=your_subscription_key_here
VIPPS_MSN=your_merchant_serial_number_here
